:root {
  --grayish-white: #f0f0f0;
  --green: #0f3d3e;
  --blue: #4da6ff;
  --light_green: rgba(15, 61, 62, 0.75);
  --yellow: #ffd369;
}

body {
  background-color: var(--grayish-white);
  font-family: Poppins, sans-serif;
  font-size: 20px;
  line-height: normal;
  padding-top: 100px;
  display: flex;
  height: 100vh;
  margin: 0;
}

.container {
  width: 94%;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

/* info_about_donations */

#info_about_donations {
  text-align: center;
}

#info_about_donations h2 {
  font-size: 30px;
  color: var(--green);
  font-weight: 700;
  letter-spacing: 4.5px;
}

#info_about_donations h1 {
  font-size: 60px;
  color: var(--blue);
  font-weight: 900;
  letter-spacing: 9px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#info_about_donations p {
  color: var(--light_green);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 3px;
  margin-top: 40px;
  margin-bottom: 40px;
}

#info_about_donations .sacrificial_info {
  padding-top: 40px;
  padding-bottom: 60px;
}

#info_about_donations hr {
  border: none;
  background-color: var(--yellow);
  width: 1160px;
  height: 4px;
  /* margin-top: 40px;
  margin-bottom: 72px; */
}

#info_about_donations p .green_highlight {
  color: var(--green);
  font-style: normal;
  font-weight: 700;
}

#info_about_donations p .blue_highlight {
  color: var(--blue);
  font-style: normal;
  font-weight: 900;
}
